
//start footer
footer.footer
	.inner
		a(href="#").logo.footer__logo
			img(src="img/logo.png" alt="logo")
		ul.nav.footer__nav
			li: a.click.click_color.click_line(href="#") Home
			li: a.click.click_color.click_line(href="#") Catalog
			li: a.click.click_color.click_line(href="#") News
			li: a.click.click_color.click_line(href="#") Sale
			li: a.click.click_color.click_line(href="#") About
			li: a.click.click_color.click_line(href="#") Contact
		span.copyrights ©2010 - 2016 All rights reserved copy




//end footer