//start header
header.header
		.header__top
			.inner
				.header__top-left
					ul
						li: a.click(href="#") delivery
						li: a.click(href="#") faq
						li: a.click(href="#") help
				.header__top-right
					.header__select-box
						.header__select-wrap
							span.header__select-result.click dollars
							select
								option Dollars
								option Euros
								option Pounds
					.header__select-box
						.header__select-wrap
							span.header__select-result.click En
							select
								option Ukr
								option Rus
								option Pol
		.header__main
			.inner
				a(href="#").header__logo
					img(src="img/logo.png" alt="logo")
				ul.nav
					li: a.click.click_line(href="#") Home
					li: a.click.click_line(href="#") Catalog
					li: a.click.click_line(href="#") News
					li: a.click.click_line.colored(href="#") Sale
					li: a.click.click_line(href="#") About
					li: a.click.click_line(href="#") Contact

				.header__bag
					a(href="#").click your bag
					.header__bag-result-wrap
						span.header__bag-result 2
					form.header__search
						input(type="text")
						input(type="submit" value="")





.header__burger
			span
			span
			span
//end header